* {
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

header {
  grid-area: header;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: white;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  text-shadow:0 0 2px white, 0 0 5px white, 0 0 5px white;
}

h1 {
  animation: rubberBand;
  animation-duration: 2s;
}

main {
  background-color: #485461;
  grid-area: main;
  padding-top: 5vh;
}

img {
  box-shadow: 0 1px 1px rgba(216, 216, 216, 0.11), 
              0 2px 2px rgba(216, 216, 216, 0.11), 
              0 4px 4px rgba(216, 216, 216, 0.11), 
              0 8px 8px rgba(216, 216, 216, 0.11), 
              0 16px 16px rgba(216, 216, 216, 0.11), 
              0 32px 32px rgba(216, 216, 216, 0.11);
}

footer {
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: white;
  text-align: center;
  grid-area: footer;
}

footer a {
  color: white;
}

@media (max-width: 767px) {

  body {
    font-size: 1.8rem;
    line-height: 1.55;
  }

  main {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  img {
    width: 99vw;
    height: 50vh;
    object-fit: cover;
    margin-bottom: 5vh;
  }

  img:hover {
    border: solid 5px rgba(255, 255, 255, 0.521);
    border-radius: 20px;
  }

  footer {
    font-size: 60%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

}

@media (min-width: 768px) {

  body {
    font-size: 2rem;
    line-height: 1.7;
  }

  main {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
  }

  img {
    width: 45vw;
    height: 45vh;
    object-fit: cover;
    margin-bottom: 5vh;
  }

  img:hover {
    border: solid 5px rgba(255, 255, 255, 0.521);
    border-radius: 20px;
    transform: scale(1.1)
  }

  footer {
    display: grid;
    place-items: center;
    font-size: 80%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

}
